---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
        summary: 175
---
{{#partial "hero"}}
    {{#if carousel}}
        {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows dots=theme_settings.homepage_show_carousel_dots}}
    {{/if}}
{{/partial}}

{{#partial "page"}}
    {{#each shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}
<div class="main full">

    <!-- KJ Custom Text below carousel -->
    <div id="halo-custom-text" class="halo-marketing-banners">
        <div class="halo-block halo-custom-text">
            <div class="container">
                <div class="halo-block-content">
                    <p class="halo-special-text">Nam tempus turpis at metus scelerisque placerat nulla deumantos sollicitudin felis. Pellentesque diam elementum et lobortis at, mollis duto an risus. Sedcuman des faucibus sullamcorper mattis fusce de molestie elit a lorem tempus scelerisque blandit est cursus.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- KJ Custom Text below carousel end -->

    <!-- KJ create your own ring section -->
    <div id="halo-middle-banner-1" class="halo-marketing-banners">
        <div class="halo-block halo-banners">
            <div class="container">
                <div class="halo-block-content">
                    <div class="halo-middle-banner">
                        <div class="halo-middle-banner--left">
                            <div class="halo-middle-banner--content">
                                <span class="subtitle">FEATURED COLLECTION</span>
                                <h2 class="title">Create your own ring</h2>
                                <span class="desc">Nullam aliquet vestibulum augue non varius. Cras cosmo congue delos melitos. Duis tristique del ante le maliquam. Praesent murna de tellus laoreet an cosmopolis.</span>
                                <a class="button button--secondary button--transparent-2" href="https://truediamondjewelry.com/engagement-rings/semi-mounts-only-settings/">Start with setting</a>
                                <a class="button button--secondary button--transparent-2" href="https://truediamondjewelry.com/engagement-rings/loose-diamonds/">Start with diamond</a>
                            </div>
                        </div>
                        <div class="halo-middle-banner--right">
                            <a class="halo-middle-banner--image" href="https://truediamondjewelry.com/engagement-rings/semi-mounts-only-settings/">
                                <img class="lazyload" src="https://alita-bridal-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-ii7zzr3/product_images/uploaded_images/createownringtest2.jpg" alt="Create your own ring" title="Create your own ring">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <!-- KJ create your own ring section end -->

    {{> components/halothemes/home/halo-banners banner="halo-home-custom-text"}}

    {{> components/halothemes/home/halo-banners banner="halo-home-top-banner"}}

    {{> components/halothemes/home/halo-banners banner="halo-home-top-brand"}}

    {{> components/halothemes/home/halo-banners banner="halo-home-image-gallery"}}

    {{#if theme_settings.home_product_block-1 '==' 'Featured'}}
        {{> components/products/featured
            products=products.featured
            productsnew=products.new
            title=theme_settings.home_product_block-1-title
            block_id="halo-product-block-1"
            block_limit=theme_settings.home_product_block_limit
            block_column=theme_settings.home_product_block_col
            block_layout=theme_settings.home_product_block_1_layout
        }}
    {{else if theme_settings.home_product_block-1 '==' 'New'}}
        {{> components/products/new
            products=products.new
            productsnew=products.new
            title=theme_settings.home_product_block-1-title
            block_id="halo-product-block-1"
            block_limit=theme_settings.home_product_block_limit
            block_column=theme_settings.home_product_block_col
            block_layout=theme_settings.home_product_block_1_layout
        }}
    {{else if theme_settings.home_product_block-1 '==' 'Top'}}
        {{> components/products/top
            products=products.top_sellers
            productsnew=products.new
            title=theme_settings.home_product_block-1-title
            block_id="halo-product-block-1"
            block_limit=theme_settings.home_product_block_limit
            block_column=theme_settings.home_product_block_col
            block_layout=theme_settings.home_product_block_1_layout
        }}
    {{else if theme_settings.home_product_block-1 '==' 'Special'}}
        {{> components/halothemes/home/halo-product-by-category
            cateid=theme_settings.home_product_block_1_cate_id
            productsnew=products.new
            block_column=theme_settings.home_product_block_col
            block_layout=theme_settings.home_product_block_1_layout
        }}
    {{else if theme_settings.home_product_block-1 '==' 'Editor'}}
        {{> components/halothemes/home/halo-product-by-editor-pick
            listid=theme_settings.home_product_block_1_list_id
            productsnew=products.new
            title=theme_settings.home_product_block-1-title
            id='block-1'
            block_column=theme_settings.home_product_block_col
            block_layout=theme_settings.home_product_block_1_layout
        }}
    {{/if}}


    <!-- KJ child-categories section -->
    <div id="halo-bottom-banner" class="halo-marketing-banners">
        <div class="halo-block halo-banners">
            <div class="container">
                <div class="halo-block-content">
                    <!-- First start -->
                    <div class="halo-bottom-banner">
                        <div class="halo-bottom-banner--item halo-bottom-banner--left">
                            <div class="halo-bottom-banner--itemWrapper">
                                <div class="halo-bottom-banner--top">
                                    
                                    <a class="halo-bottom-banner--image" href="#">
                                        <img class="lazyload" src="https://alita-bridal-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-ii7zzr3/product_images/uploaded_images/category-img-1t.jpg" alt="Engagement Rings" title="Engagement Rings">
                                    </a>
                                </div>
                                <div class="halo-bottom-banner--bottom">
                                    <div class="halo-bottom-banner--listWrapper">
                                        <ul class="halo-bottom-banner--list">
                                            <li class="halo-bottom-banner--listItem">
                                                <a class="halo-bottom-banner--listAction" href="#">
                                                    <span class="text">Halo Styles</span>
                                                </a>
                                            </li>
                                            <li class="halo-bottom-banner--listItem">
                                                <a class="halo-bottom-banner--listAction" href="#">
                                                    <span class="text">Petite</span>
                                                </a>
                                            </li>
                                            <li class="halo-bottom-banner--listItem">
                                                <a class="halo-bottom-banner--listAction" href="#">
                                                    <span class="text">Vintage</span>
                                                </a>
                                            </li>
                                            <li class="halo-bottom-banner--listItem">
                                                <a class="halo-bottom-banner--listAction" href="#">
                                                    <span class="text">Illusion Styles</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="halo-bottom-banner--item halo-bottom-banner--right">
                            <div class="halo-bottom-banner--itemWrapper">
                                <div class="halo-bottom-banner--top">
                                    <div class="halo-bottom-banner--listWrapper">
                                        <ul class="halo-bottom-banner--list">
                                            <li class="halo-bottom-banner--listItem">
                                                <a class="halo-bottom-banner--listAction" href="#">
                                                    <span class="text">Eternity</span>
                                                </a>
                                            </li>
                                            <li class="halo-bottom-banner--listItem">
                                                <a class="halo-bottom-banner--listAction" href="#">
                                                    <span class="text">Fancy-cut Stones</span>
                                                </a>
                                            </li>
                                            <li class="halo-bottom-banner--listItem">
                                                <a class="halo-bottom-banner--listAction" href="#">
                                                    <span class="text">Pave</span>
                                                </a>
                                            </li>
                                            <li class="halo-bottom-banner--listItem">
                                                <a class="halo-bottom-banner--listAction" href="#">
                                                    <span class="text">Solitaire Stone Bands</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="halo-bottom-banner--bottom">
                                    
                                    <a class="halo-bottom-banner--image" href="#">
                                        <img class="lazyload" src="https://alita-bridal-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-ii7zzr3/product_images/uploaded_images/category-img-2t.jpg" alt="Wedding Bands" title="Wedding Bands">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- First end -->
                    <!-- second start-->

                    <div class="halo-bottom-banner">
                        <div class="halo-bottom-banner--item halo-bottom-banner--left">
                            <div class="halo-bottom-banner--itemWrapper">
                                <div class="halo-bottom-banner--top">
                                    
                                    <a class="halo-bottom-banner--image" href="#">
                                        <img class="lazyload" src="https://alita-bridal-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-ii7zzr3/product_images/uploaded_images/category-img-3t.jpg" alt="Necklaces & Pendants" title="Necklaces & Pendants">
                                    </a>
                                </div>
                                <div class="halo-bottom-banner--bottom">
                                    <div class="halo-bottom-banner--listWrapper">
                                        <ul class="halo-bottom-banner--list">
                                            <li class="halo-bottom-banner--listItem">
                                                <a class="halo-bottom-banner--listAction" href="#">
                                                    <span class="text">Halo Styles</span>
                                                </a>
                                            </li>
                                            <li class="halo-bottom-banner--listItem">
                                                <a class="halo-bottom-banner--listAction" href="#">
                                                    <span class="text">Petite</span>
                                                </a>
                                            </li>
                                            <li class="halo-bottom-banner--listItem">
                                                <a class="halo-bottom-banner--listAction" href="#">
                                                    <span class="text">Vintage</span>
                                                </a>
                                            </li>
                                            <li class="halo-bottom-banner--listItem">
                                                <a class="halo-bottom-banner--listAction" href="#">
                                                    <span class="text">Illusion Styles</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="halo-bottom-banner--item halo-bottom-banner--right">
                            <div class="halo-bottom-banner--itemWrapper">
                                <div class="halo-bottom-banner--top">
                                    <div class="halo-bottom-banner--listWrapper">
                                        <ul class="halo-bottom-banner--list">
                                            <li class="halo-bottom-banner--listItem">
                                                <a class="halo-bottom-banner--listAction" href="#">
                                                    <span class="text">Eternity</span>
                                                </a>
                                            </li>
                                            <li class="halo-bottom-banner--listItem">
                                                <a class="halo-bottom-banner--listAction" href="#">
                                                    <span class="text">Fancy-cut Stones</span>
                                                </a>
                                            </li>
                                            <li class="halo-bottom-banner--listItem">
                                                <a class="halo-bottom-banner--listAction" href="#">
                                                    <span class="text">Pave</span>
                                                </a>
                                            </li>
                                            <li class="halo-bottom-banner--listItem">
                                                <a class="halo-bottom-banner--listAction" href="#">
                                                    <span class="text">Solitaire Stone Bands</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="halo-bottom-banner--bottom">
                                    
                                    <a class="halo-bottom-banner--image" href="#">
                                        <img class="lazyload" src="https://alita-bridal-demo.mybigcommerce.com/content/loading.svg" data-src="https://cdn11.bigcommerce.com/s-ii7zzr3/product_images/uploaded_images/category-img-4t.jpg" alt="Diamond Earrings" title="Diamond Earrings">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- second end -->
                </div>
            </div>
        </div>
    </div>
    <!-- KJ child-categories section end-->


    {{> components/halothemes/home/halo-banners banner="home-middle-banner-1"}}

    {{> components/halothemes/home/halo-banners banner="home-middle-banner-2"}}

    {{#if theme_settings.home_product_block-2 '==' 'Featured'}}
        {{> components/products/featured
            products=products.featured
            productsnew=products.new
            title=theme_settings.home_product_block-2-title
            block_id="halo-product-block-2"
            block_limit=theme_settings.home_product_block_limit
            block_column=theme_settings.home_product_block_col
            block_layout=theme_settings.home_product_block_2_layout
        }}
    {{else if theme_settings.home_product_block-2 '==' 'New'}}
        {{> components/products/new
            products=products.new
            productsnew=products.new
            title=theme_settings.home_product_block-2-title
            block_id="halo-product-block-2"
            block_limit=theme_settings.home_product_block_limit
            block_column=theme_settings.home_product_block_col
            block_layout=theme_settings.home_product_block_2_layout
        }}
    {{else if theme_settings.home_product_block-2 '==' 'Top'}}
        {{> components/products/top
            products=products.top_sellers
            productsnew=products.new
            title=theme_settings.home_product_block-2-title
            block_id="halo-product-block-2"
            block_limit=theme_settings.home_product_block_limit
            block_column=theme_settings.home_product_block_col
            block_layout=theme_settings.home_product_block_2_layout
        }}
    {{else if theme_settings.home_product_block-2 '==' 'Special'}}
        {{> components/halothemes/home/halo-product-by-category
            cateid=theme_settings.home_product_block_2_cate_id
            productsnew=products.new
            block_column=theme_settings.home_product_block_col
            block_layout=theme_settings.home_product_block_2_layout
        }}
    {{else if theme_settings.home_product_block-2 '==' 'Editor'}}
        {{> components/halothemes/home/halo-product-by-editor-pick
            listid=theme_settings.home_product_block_2_list_id
            productsnew=products.new
            title=theme_settings.home_product_block-2-title
            id='block-2'
            block_column=theme_settings.home_product_block_col
            block_layout=theme_settings.home_product_block_2_layout
        }}
    {{/if}}

    {{> components/halothemes/home/halo-banners banner="home-bottom-banner"}}

    {{> components/halothemes/home/halo-banners banner="home-lookbook-slider"}}

    <!-- {{> components/halothemes/home/halo-recent-posts post=blog.recent_posts}} -->

    {{> components/halothemes/home/halo-banners banner="home-instagram"}}
</div>
{{/partial}}
{{> layout/base}}
